.app-container{
  display: flex;
}

.content{
  width: 100%;
}

.sidebar{
  min-height: 800px;
}

.post-card{
  margin: 20px 50px;
}

.reactions{
  margin: 15px 0 0 0;
  width: 100%;
}

.create-post{
  margin-left: 10%;
  margin-top: 50px;
  width: 80%;
}